<html style="background-color: black;">
<body style="background-color: rgb(253, 253, 253);">
    <div class="container mt-5">
        <h2 style="text-align: center; font-style: italic;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Start your reservation</h2>
        <br>
    <div class="row">
        <div id="i2" class="card" style="width:500px">
            <img class="card-img-top" src="../../../assets/8728.jpg" alt="Card image">
            <div class="card-img-overlay">
              <br>
              <br>
              <br>
              <button class="btn btn-primary" (click)="goCinema()"><samp>Cinema</samp></button>
            </div>
          </div>
          <div id="i2" class="card" style="width:500px">
            <img class="card-img-top" src="../../../assets/res.png" alt="Card image">
            <div class="card-img-overlay">
              <br>
              <br>
              <br>
              <button class="btn btn-primary" (click)="goRestaurant()"><samp>Restaurant</samp></button>
            </div>
          </div>
          <div id="i2" class="card" style="width:500px">
            <img class="card-img-top" src="../../../assets/hotel-panneau-entree.jpg" alt="Card image">
            <div class="card-img-overlay">
              <br>
              <br>
              <br>
              <button class="btn btn-primary" (click)="goHotel()"><samp>Hotels</samp></button>
            </div>
          </div>
          <div id="i2" class="card" style="width:500px">
            <img class="card-img-top" src="../../../assets/espace-detente-au-resort.jpg" alt="Card image">
            <div class="card-img-overlay">
              <br>
              <br>
              <br>
              <button class="btn btn-primary" (click)="goguesthouse()"><samp>Guest House</samp></button>
            </div>
          </div>
        </div>
    </div>
    </body>
</html>