<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarCenteredExample"
        aria-controls="navbarCenteredExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
        <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarCenteredExample"
      >
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/aboutus">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/clients">Clients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/blog">Blog</a>
          </li>
        </ul>
        
      </div>
      <form class="d-flex">
        <button class="btn btn-outline-light" type="submit" style="color: black;"><a routerLink="/login">Login</a></button>
        <button class="btn btn-outline-light" style="color: black;"><i class="fa-solid fa-user"></i>Sign UP</button>

      </form>
    </div>
  </nav>